*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
}

.ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 70vw;    
    list-style: none;
}

.vermelho{
    background: rgba(207, 0, 0, 0.6);
    color: #FFF;
}

.branco{
    background: #FFF;
    color: #000;
}